:root {
  --primary-brand: #4d5ae5;
  --navy-blue: #2e2f42;
  --subtle-text: #8e8f99;
  --cloud: #f4f4fd;
  --action-color: #404bbf;
  --white: #ffffff;
  --slate: #434455;
  --accent: #e7e9fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  background-color: var(--white);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*----------------- HEADER-------------- */

.page-header {
  border-bottom: 1px solid var(--accent);
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--white);
}

.logo-img {
  padding-right: 76px;
}

.list-nav {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.logo-img {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  color: var(--navy-blue);
  margin-right: 76px;
}
.page-nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.menu-item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.menu-item :hover,
.menu-item :focus {
  color: var(--action-color);
}
.menu-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.page-address {
  font-style: normal;
  margin-left: auto;
}
.page-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.mail-item {
  display: flex;
  align-items: center;
}
.menu-mail {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-mail:hover,
.menu-mail:focus {
  color: var(--action-color);
}

/* ------------Hero--------------- */

.hero {
  width: 1440px;
  height: 600px;
  padding: 188px 0;
  background-color: var(--navy-blue);
}

.title {
  display: flex;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  background-color: var(--navy-blue);
}
.btn-title {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.btn-title:hover,
.btn-title:focus {
  background: var(--action-color);
}

/* -------Technologies ---------- */

.techno-work {
  display: flex;
  flex-basis: calc((100%-72px) / 4);
  gap: 24px;
}
.mini-title {
  margin-bottom: 8px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.item-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* ------products---------- */

.products {
  background: var(--white);
}

.main-list {
  display: flex;
  flex-basis: calc((100% - 48px) / 3);
  gap: 24px;
  padding-bottom: 120px;
}
.main {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
}

/* ---- team ------------------ */

.team {
  background-color: #f4f4fd;
}
.group {
  display: flex;
  flex-basis: calc((100% - 72px) / 4);
  gap: 24px;
  background-color: #f4f4fd;
}
.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  margin-bottom: 8px;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  background-color: #f4f4fd;
  text-align: center;
  text-transform: capitalize;
}

/*------------ footer ----------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navy-blue);
}
.footer-img {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.footer-studio {
  color: var(--cloud);
  background: var(--navy-blue);
}
.micro-text {
  display: flex;
  width: 264px;
  height: 72px;
  margin-top: 1px;
}

/*========PORTFOLIO===========*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-top: 98px;
  margin-bottom: 72px;
  gap: 24px;
}

.btn {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  cursor: pointer;
  background: var(--cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  color: var(--white);
  background: var(--action-color);
}

.menu-text {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.menu-letter {
  color: #434455;
}
.galery-cards {
}
.gallery-menu {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-48px) / 3);
  gap: 24px;
  padding-bottom: 32px;
  margin-bottom: 48px;
}

.card-info {
  display: block;
  padding-left: 10px;
  padding-right: auto;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
  background: var(--white, #fff);
}
.info {
  padding-top: 32px;
  padding-bottom: 8px;
}
.item-text {
  padding-bottom: 32px;
}
.work {
}
